apscheduler==3.10.4
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
pydantic_settings==2.10.1
python-dotenv==1.1.1
motor==3.7.1
beanie==1.29.0
langchain==0.3.26
langchain-anthropic==0.3.17
langchain-core==0.3.71